<!DOCTYPE html>
<html>
<head>
    <title>etcd Key-Value Pairs</title>
    <style>
        .status {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .green {
            background-color: green;
        }
    </style>
</head>
<body>
    <h1>etcd Key-Value Pairs</h1>
    <ul>
        {% for key, value in data.items() %}
            <li>
                {{ key }}: 
                {% if value is mapping %}
                    <ul>
                    {% for sub_key, sub_value in value.items() %}
                        <li>
                            {% if sub_key in statuses and statuses[sub_key] == 'green' %}
                                <span class="status green"></span>
                            {% endif %}
                            {{ sub_key }}: {{ sub_value }}
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    {{ value }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>